//设置宽度
$width:100%;
$min-width:320px;
$line-hegiht:1;
$height:1;
/*设置字体*/
$font-famliy:"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑",
    "Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial;
$base-color:#111;
$alpha:0.5;
$font-size:12px;
$basemargin:10;
$basemargin:0 !default;
$border-direction:top;
$hover-div-color:#f00;
$hover-bg-color:#e0e;
$hover-border-color:#ffb907;
/*正文*/
body{
  width:$width;
  height:$height;
  font-family:$font-famliy;
  color:$base-color;
  background:$base-color;
  font-size:$font-size;
  margin:$basemargin;
  div{
    height:$height;
    line-height:$line-hegiht;
  }
}
.border-#{$border-direction}{
  border-#{$border-direction}:1px solid #d7d7d7;
  &:hover{
    color: $hover-div-color;
    border-color:$hover-border-color;
  }
}

/*函数*/
$set-head:(-top:2em,-right:1.5em,-bottom:1em,-left:0.8em,-m:0.5em);
@each $header,$em in $set-head{
  .contain#{$header}{
    font-size: $em;
  }
}


.contain{
  border:{
    style:solid;
    left:{
      width: 4px;
      color: #044;
    }
    right:{
      width: 5px;
      color: #567
    }
  }
}
.a-#{$height}-bottom{
        width:100px;
        height:44px;
    }

.parent-1 {
  color:#f00;
  .child {
    width:100px;
  }
}

//单个选择器跳出
.parent-2 {
  color:#f00;
  @at-root .child {
    width:200px;
  }
}
.parent-3 {
  background:#f00;
  @at-root {
    .child1 {
      width:300px;
    }
    .child2 {
      width:400px;
    }
  }
}


@mixin center-block {
    margin-left:auto;
    margin-right:auto;
}
.demo{
  @include center-block;
}

  .div-top{
    position: absolute;
    @extend .demo;
  }
@function pxToRem($px){
  @return $px/$font-size*1rem;
}

.div-gilop{
  height: pxToRem(16px);
}
$mg:false;
$type:good;
p{
  @if $type == warn {
  color:red;
} @else if $type == success {
  color:green;
} @else if $type == good {
  color:#091;
} @else {
  color:#000;
}
}
.mg-#{$mg}{
  @if $mg {
    color:#000;
    }@else{
      color:#dedede;
    }
  
} 

.top{
 top:if($mg, 1px, 2px);
}




