@charset "UTF-8";
/*设置字体*/
/*正文*/
body {
  width: 100%;
  height: 1;
  font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial;
  color: #111;
  background: #111;
  font-size: 12px;
  margin: 10; }
  body div {
    height: 1;
    line-height: 1; }

.border-top {
  border-top: 1px solid #d7d7d7; }
  .border-top:hover {
    color: #f00;
    border-color: #ffb907; }

/*函数*/
.contain-top {
  font-size: 2em; }

.contain-right {
  font-size: 1.5em; }

.contain-bottom {
  font-size: 1em; }

.contain-left {
  font-size: 0.8em; }

.contain-m {
  font-size: 0.5em; }

.contain {
  border-style: solid;
  border-left-width: 4px;
  border-left-color: #044;
  border-right-width: 5px;
  border-right-color: #567; }

.a-1-bottom {
  width: 100px;
  height: 44px; }

.parent-1 {
  color: #f00; }
  .parent-1 .child {
    width: 100px; }

.parent-2 {
  color: #f00; }
  .child {
    width: 200px; }

.parent-3 {
  background: #f00; }
  .child1 {
    width: 300px; }
  .child2 {
    width: 400px; }

.demo, .div-top {
  margin-left: auto;
  margin-right: auto; }

.div-top {
  position: absolute; }

.div-gilop {
  height: 1.33333rem; }

p {
  color: #091; }

.mg-false {
  color: #dedede; }

.top {
  top: 2px; }
