	#phone{
		width: 320px;
		height: 486px;
		background: #00A0E9;
		position: absolute;
		overflow: hidden;
	}
	#phone_contain{
		width: 320px;
		height: 486px;
		background: #fff;
		position: absolute;
	}
	.nr .edit_wrapper {
		height:100%;
		width:100%;
		background-position:50% 50%;
		background-size:cover
	}
	.nr .blink-element {
		position:absolute;
		width:100%;
		height:100%;
		top:0
	}
	.nr .red-border {
		border:1px solid #08a1ef;
		background-color:rgba(0,0,0,.6);
		box-shadow:1px 1px 10px 2px rgba(51,51,102,.3)
	}
	.my-tpl .edit_wrapper {
		padding:0;
	    padding: 0;
	    width: 89px;
	    height: 135px;
	    border: 0px solid #ccc;
	    position: relative;
	    left: 50%;
	    margin-left: -45px;
	    overflow: hidden;
	    border-radius: 4px;
	}
	.nr .edit_area {
		position:absolute;
		top:0;
		text-align:left;
		width:320px;
		height:486px;
		background-repeat:no-repeat;
		background-size:100% 100%
	}
	.nr .edit_area>li {
		color:#676767;
		line-height:1;
		background:0;
		position:absolute;
		list-style:none!important;
		margin:0!important;
		padding:0;
		-webkit-transition:padding .5s;
		-moz-transition:padding .5s;
		transition:padding .5s;
		min-height:1px;
		min-width:1px;
		width:100%;
		-webkit-user-select:none
	}
	.nr .edit_area>li * {
		box-sizing:border-box;
		-moz-box-sizing:border-box
	}
	.nr .edit_area>li .element-box
	{
		overflow:hidden
	}
	.nr .edit_area .element {
		min-width:1px;
		min-height:1px;
		color:inherit
	}
	.nr .edit_area .svg-element {
		position:absolute
	}
	.nr .wsite-button .element-box {
		text-align:center;
		color:#676767;
		border-radius:5px;
		background:#f9f9f9
	}
	.nr .wsite-input .element-box {
		color:#676767;
		border:1px solid #ccc;
		border-radius:5px;
		background:#f9f9f9
	}
	.nr .wsite-video .element-box {
		width:48px;
		height:48px
	}
	.nr .wsite-video .element-box .video_area {
		background:url(/assets/images/create/play.png) no-repeat;
		background-size:100% 100%;
		width:48px;
		height:48px;
		display:block
	}
	.nr input,textarea {
		resize:none;
		overflow:hidden;
		padding:0;
		margin:0;
		border-radius:0;
		line-height:120%;
		display:inline-block!important
	}
	.nr .comp_title {
		background-color:#fff;
		color:#000;
		font-size:14px;
		text-align:center;
		word-break:break-all;
		line-height:50px
	}
	.label_content {
		opacity:.8;
		font-size:18px;
		height:50px;
		top:0;
		color:#ccc;
		border:1px solid #ccc
	}
	.nr .wsite-image {
		}.nr .comp_image {
		width:100%;
		height:100%
	}
	.nr .wsite-text {
		width:222px;
		height:36px
	}
	.nr .comp_paragraph {
		font-size:24px;
		color:#404449;
		line-height:inherit;
		padding:.3em 15px;
		margin:0;
		width:100%;
		height:100%;
		word-wrap:break-word;
		text-align:left
	}
	.nr .comp_paragraph[ctype='201'] {
		text-align: inherit;
	}
	.nr .comp_paragraph a {
		color:inherit
	}
	.nr .comp_input_wrapper {
		margin:15px auto 0;
		font-size:16px;
		width:80%;
		color:#aaa;
		text-align:left
	}
	.nr .comp_input_wrapper .comp_input_label {
		padding:4px 0
	}
	.nr .comp_input {
		width:240px;
		height:36px;
		background:transparent;
		border:0;
		padding:8px!important;
		font-family:'Open Sans',sans-serif;
		font-weight:400;
		font-size:16px
	}
	.nr .comp_radio {
		width:240px;
		background:transparent;
		border:0;
		font-size:16px
	}
	.nr .comp_radio .radio-title {
		min-height:36px;
		padding:10px
	}
	.nr .comp_radio .options .option-group {
		padding:7px 0;
		margin:0 8px
	}
	.nr .comp_radio .options .option-group .option-label {
		font-size:12px;
		margin-bottom:0;
		display:inline-block
	}
	.nr .comp_radio .options .option-group .option-label input {
		vertical-align:middle;
		margin-right:5px
	}
	.nr .comp_rating {
		width:240px;
		background:transparent;
		border:0;
		padding:8px!important;
		font-size:16px
	}
	.nr .comp_rating .rating-title,.nr .comp_rating .rating-icons,
	.new_page .comp_rating .rating-title,.new_page .comp_rating .rating-icons {
		display:inline-block;
		padding:5px;
		vertical-align:top
	}
	.nr .comp_rating .rating-icons i {
		margin-right:5px
	}
	.nr .comp_rating .rating-icons i.rating-l {
		font-size:18px
	}
	.nr .comp_rating .rating-icons i.rating-m {
		font-size:15px
	}
	.nr .comp_rating .rating-icons i.rating-s {
		font-size:12px
	}
	.nr .comp_counter {
		padding:0 10px
	}
	.nr .comp_counter img.counter-elem {
		vertical-align:middle
	}
	.nr .comp_counter.counter-tb {
		position:relative;
		width:auto!important
	}
	.nr .comp_counter.counter-tb .counter-container {
		position:relative;
		left:0;
		right:0;
		top:50%;
		text-align:center
	}
	.nr .comp_counter.counter-tb .counter-elem {
		display:block;
		line-height:1
	}
	.nr .comp_counter.not-voted .counter-icon {
		color:#ccc!important
	}
	.nr .comp_counter.counter-lr .counter-number {
		margin-left:10px
	}
	.nr .comp_counter.counter-l {
		font-size:40px
	}
	.nr .comp_counter.counter-m {
		font-size:30px
	}
	.nr .comp_counter.counter-s {
		font-size:20px
	}
	.nr .comp_button {
		width:240px;
		height:36px;
		min-width:50px;
		white-space:nowrap;
		border:0;
		background:transparent;
		font-size:16px;
		color:#999
	}
	.nr a {
		display:inline-block;
		text-algn:center;
		text-algn:center
	}
	.nr .btn1 {
		width:90px;
		background:red;
		height:30px;
		border:1px solid #ccc;
		line-height:30px;
		color:#fff;
		-webkit-border-radius:5px;
		text-algn:center
	}
	.nr .btn2 {
		width:80px;
		background:#FDAF07;
		height:35px;
		border:1px solid #ccc;
		line-height:35px;
		-webkit-border-radius:40px
	}
	.nr .btn3 {
		width:100px;
		background:#3FB816;
		height:30px;
		border:1px solid #ccc;
		line-height:30px;
		color:#fff;
		-webkit-border-radius:5px
	}
	.nr .btn4 {
		width:100px;
		height:30px;
		border:1px solid #3FB816;
		line-height:30px;
		color:#000;
		-webkit-border-radius:5px
	}
	.nr .comp_anchor {
		width:240px;
		height:32px;
		display:block;
		text-align:center;
		white-space:nowrap;
		line-height:32px;
		font-size:16px
	}

	.main-page.z-current {
	    z-index: 1;
	    display: inline-block;
	}
	.z-current {
	    opacity: 1;
	}
	.main-page {
	    border: 0;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-position: top center;
	    background-size: cover;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    z-index: 0;
	    display: none;
	    -webkit-transform-origin: center center;
	    background: #f6f7fb;
	}
	#phone_box{
		border:1px dashed #d7d7d7;
		border-radius: 5px;
		padding: 0;
		width: 320px;
		background: #0C0B11;
		height: 670px;
		position: absolute;
		top: 20px;
    	left: 5%;

	}
	#title{
	    height: 44px;
	    line-height: 44px;
	    font-size: 16px;
	    width: 310px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    color: #fff;
	    padding: 5px;
	    background: rgb(39, 39, 39);
	}
	#phone_top{
		height: 20px;
	    line-height: 20px;
	    margin: 4px auto 20px;
	    text-align: center;
	}
	#phone_bottom{
	    height: 44;
		width: 44px;
		border-radius: 100%;
		border: 1px solid #fff;
		text-align: center;
		margin: 10px auto;
		background: #0e0e0e;
		-moz-box-shadow: 0px -1px 1px #999 inset;
		-webkit-box-shadow: 0px -1px 1px #999 inset;
		box-shadow: 0px -1px 1px #999 inset;
		position: absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -22px;
	}
	#phone_top_cirlce{
		width: 5px;
	    height: 5px;
	    border-radius: 100%;
	    border: 1px solid #fff;
	    background: #000;
	    /* display: inline-block; */
	    -moz-box-shadow: 0px -1px 1px #999 inset;
	    -webkit-box-shadow: 0px -1px 1px #999 inset;
	    box-shadow: 0px -1px 1px #999 inset;
	    text-align: center;
	    margin: 10px auto 0px;
	}
	#circle{
		width: 10px;
		height: 10px;
		border-radius: 100%;
		border: 1px solid #fff;
		background: #000;
		display: inline-block;
		 -moz-box-shadow:0px -1px 1px #999 inset;              /* For Firefox3.6+ */
		-webkit-box-shadow:0px -1px 1px #999 inset;        /* For Chrome5+, Safari5+ */
		box-shadow:0px -1px 1px #999 inset;                 /* For Latest Opera */
	}
	#squre{
		width: 50px;
		height: 10px;
		border: 10px;
		border: 1px solid #fff;
		border-radius: 10px;
		background: #000;
		display: inline-block;
		 -moz-box-shadow:0px -1px 1px #999 inset;              /* For Firefox3.6+ */
		-webkit-box-shadow:0px -1px 1px #999 inset;        /* For Chrome5+, Safari5+ */
		box-shadow:0px -1px 1px #999 inset;                 /* For Latest Opera */
		margin-right: 14px;
	}

	.loader{
		    position: absolute;
		    left: 50%;
		    top: 30%;
			box-sizing: border-box;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex: 0 1 auto;
		    flex: 0 1 auto;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -ms-flex-positive: 1;
		    flex-grow: 1;
		    -ms-flex-negative: 0;
		    flex-shrink: 0;
		    -ms-flex-preferred-size: 25%;
		    flex-basis: 25%;
		    max-width: 25%;
		    height: 200px;
		    -ms-flex-align: center;
		    align-items: center;
		    -ms-flex-pack: center;
		    justify-content: center;
	}
	.line-spin-fade-loader {
		    position: relative;
		    top: -10px;
		    left: -4px;
	}
	.line-spin-fade-loader>div:nth-child(1) {
		    top: 20px;
		    left: 0;
		    -webkit-animation: line-spin-fade-loader 1.2s -.84s infinite ease-in-out;
		    animation: line-spin-fade-loader 1.2s -.84s infinite ease-in-out
	}

	.line-spin-fade-loader>div:nth-child(2) {
		    top: 13.64px;
		    left: 13.64px;
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    -webkit-animation: line-spin-fade-loader 1.2s -.72s infinite ease-in-out;
		    animation: line-spin-fade-loader 1.2s -.72s infinite ease-in-out
	}

	.line-spin-fade-loader>div:nth-child(3) {
	    top: 0;
	    left: 20px;
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	    -webkit-animation: line-spin-fade-loader 1.2s -.6s infinite ease-in-out;
	    animation: line-spin-fade-loader 1.2s -.6s infinite ease-in-out
	}

	.line-spin-fade-loader>div:nth-child(4) {
	    top: -13.64px;
	    left: 13.64px;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-animation: line-spin-fade-loader 1.2s -.48s infinite ease-in-out;
	    animation: line-spin-fade-loader 1.2s -.48s infinite ease-in-out
	}

	.line-spin-fade-loader>div:nth-child(5) {
	    top: -20px;
	    left: 0;
	    -webkit-animation: line-spin-fade-loader 1.2s -.36s infinite ease-in-out;
	    animation: line-spin-fade-loader 1.2s -.36s infinite ease-in-out
	}

	.line-spin-fade-loader>div:nth-child(6) {
	    top: -13.64px;
	    left: -13.64px;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    -webkit-animation: line-spin-fade-loader 1.2s -.24s infinite ease-in-out;
	    animation: line-spin-fade-loader 1.2s -.24s infinite ease-in-out
	}

	.line-spin-fade-loader>div:nth-child(7) {
	    top: 0;
	    left: -20px;
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	    -webkit-animation: line-spin-fade-loader 1.2s -.12s infinite ease-in-out;
	    animation: line-spin-fade-loader 1.2s -.12s infinite ease-in-out
	}

	.line-spin-fade-loader>div:nth-child(8) {
	    top: 13.64px;
	    left: -13.64px;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out;
	    animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out
	}

	.line-spin-fade-loader>div {
	    -webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	    position: absolute;
	    width: 5px;
	    height: 15px
	}
	@-webkit-keyframes line-spin-fade-loader {
	    50% {
	        opacity: .3
	    }

	    100% {
	        opacity: 1
	    }
	}

	@keyframes line-spin-fade-loader {
	    50% {
	        opacity: .3
	    }

	    100% {
	        opacity: 1
	    }
	}

	.line-spin-fade-loader>div {
	    border-radius: 2px;
	    margin: 2px;
	    background-color: #00A0E9;
	}
	.u-arrow-bottom {
	    position: absolute;
	    bottom: 30px;
	    left: 50%;
	    z-index: 10000;
	    width: 24px;
	    height: 14px;
	    margin-left: -7px;
	}
	.u-arrow-bottom img {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -7px 0 0 -14px;
	    width: 24px;
	    height: 14px;
	    background-position: 0 -82px;
	    -webkit-animation: start 1.5s infinite ease-in-out;
	    -moz-animation: start 1.5s infinite ease-in-out;
	    animation: start 1.5s infinite ease-in-out;
	}
	@-webkit-keyframes start {
		0%,30%{
			opacity:0;
			-webkit-transform:translate(0,10px)}
			60%{
				opacity:1;
				-webkit-transform:translate(0,0)
			}
			100%{
				opacity:0;
				-webkit-transform:translate(0,-8px)
			}
		}
		@keyframes start {
			0%,30%{
				opacity:0;
				transform:translate(0,10px)
				}
			60%{
				opacity:1;
				transform:translate(0,0)
				}
			100%{
				opacity:0;
				transform:translate(0,-8px)
			}
		}